*{
    margin:0;
    padding: 0;
  }
  body{
    width: 100vw;
    height: 100vh;
    background-color:rgb(153, 238, 153);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }